div.color{
    margin: 121px 149px;
    width: 483px;
    height: 298px;
    background: #676470;
    color: #fff;
    font-family: Lato;
    font-weight: 900;
    font-size: 3.4em;
}

p{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    color: white;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

header{
    background-color: rebeccapurple;
    color: wheat;
    font-family: initial;
}
.main{
    background-color: burlywood;
}
aside{
    background-color: cadetblue;
    color: whitesmoke;
}
.color1{
    background-color: rgb(192, 176,157);
}
.color2{
    background-color: salmon;
}
footer{
    background-color: slateblue;
    color: rgb(105, 172, 199);
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    color: white;
}
.doubled{
    background-color: black;
}

